@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: "Libre Frankling", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    color: rgb(150, 150, 150);
    font-weight: 300;
}

h1 span {
    color: black;
    font-weight: 700;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

input {
    border: 0.075rem rgb(194, 211, 255) solid;
    padding: 12px 55px;
    border-radius: 24px;
}

input::placeholder {
    left: -5%;
}

button {
    border: none;
    color: white;
    background-color: rgb(79, 125, 243);
    padding: 12px 45px;
    border-radius: 24px;
}

.attribution {font-size: 11px; text-align: center;}

.attribution a {color: hsl(228, 45%, 44%);}